.footer{
    display: flex;
    align-items: center;
    height: 8rem;
    width: 100%;
    background: #2a2a2a;
    justify-content: space-evenly;
    flex-direction: column;
    color: #fff;
    text-align: center;
    &__copy{
        font-size: 1.2rem;
    }
    &__icon{
        & a {
            text-decoration: none;
            color: #Ffff;
        }
        & i {
            padding: 0 1rem;
            font-size: 1.5rem;
            transition: 0.5s;
        }
        & i:hover{
            color: #F44A25;
            transform: scale(1.2);
        }
    }
}